<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @musician.name %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag(url_for(@musician.avatar.variant(resize_to_limit: [100, 250]))) %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @musician.zip %>
</p>

<%= link_to 'Edit', edit_musician_path(@musician) %> |
<%= link_to 'Back', musicians_path %>
