

<p>
  <strong>Name:</strong>
  <%= @musician.name %>
</p>

<p>
  <strong>Avatar:</strong>
  <% if @musician.avatar.attached? %>
  <%= image_tag(url_for(@musician.avatar.variant(resize_to_limit: [100, 250]))) %>
  <% else %>
  No Image
  <% end %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @musician.zip %>
</p>

<%= link_to 'Edit', edit_musician_path(@musician) %> |
<%= link_to 'Back', musicians_path %>
