<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @musician.name %>
</p>

<p>
  <strong>Avatar url:</strong>
  <%= @musician.avatar_url %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @musician.zip %>
</p>

<%= link_to 'Edit', edit_musician_path(@musician) %> |
<%= link_to 'Back', musicians_path %>
